<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cmput301w21t25">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMPUT301W21T25">
        <activity android:name=".activities_user.OtherUserProfileActivity" />
        <activity android:name=".activities_experiments.CreateExperimentActivity" />
        <activity android:name=".activities_user.GenerateUserActivity" />
        <activity android:name=".activities_main.HomeSubbedActivity" />
        <activity android:name=".activities_main.SearchActivity" />
        <activity android:name=".activities_user.MyUserProfileActivity" />
        <activity android:name=".activities_main.HomeOwnedActivity" />
        <activity android:name=".activities_experiments.ViewExperimentActivity" />
        <activity android:name=".activities_experiments.ViewSubbedExperimentActivity" />
        <activity android:name=".activities_trials.ViewTrialActivity" />
        <activity android:name=".activities_experiments.ExperimentDataActivity" />
        <activity android:name=".activities_trials.AddTrialActivity" />
        <activity android:name=".activities_trials.ConductCountTrialActivity" />
        <activity android:name=".activities_trials.ConductMeasurementTrialActivity" />
        <activity android:name=".activities_trials.ConductBinomialTrialActivity" />
        <activity android:name=".activities_trials.ConductNonnegativeCountTrialActivity" />
        <activity android:name=".activities_main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>