<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cmput301w21t25"> <!-- Needed for zxing compatibility -->
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMPUT301W21T25">
        <activity android:name=".activities_trials.ChooseConductActivity"></activity>
        <activity android:name=".activities_qr.GenerateQRActivity"></activity>
        <activity android:name=".activities_qr.DisplayQRActivity" />
        <!--
         set this to be the icon image!
              android:icon="@drawable/<someImage>"
        -->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- <service -->
        <!-- android:name=".location.FetchLocation" -->
        <!-- android:foregroundServiceType="location" /> -->
        <activity android:name=".activities_user.OtherUserProfileActivity" />
        <activity android:name=".activities_experiments.CreateExperimentActivity" />
        <activity android:name=".activities_user.GenerateUserActivity" />


        <activity android:name=".activities_main.SubbedExperimentsActivity"
            android:label="Subscribed Experiments"/>
        <activity android:name=".activities_main.SearchExperimentsActivity"
            android:label="Search for Experiment"/>
        <activity android:name=".activities_main.CreatedExperimentsActivity"
            android:label="Created Experiments"/>
        <activity android:name=".activities_forum.ForumActivity"
            android:label="Forum"/>
        <activity android:name=".activities_forum.NewReplyActivity"
            android:label="Forum"/>
        <activity android:name=".activities_forum.NewCommentActivity"
            android:label="Forum"/>
        <activity android:name=".activities_user.MyUserProfileActivity" />
        <activity android:name=".activities_experiments.ViewSearchedExperimentActivity"
            android:label="View Experiment"/>
        <activity android:name=".activities_experiments.ViewCreatedExperimentActivity"
            android:label="View Experiment"/>
        <activity android:name=".activities_experiments.ViewSubbedExperimentActivity"
            android:label="View Experiment"/>
        <activity android:name=".activities_trials.ViewTrialActivity"
            android:label="Add New Trials"/>
        <activity android:name=".activities_graphs.HistogramActivity"/>
        <activity android:name=".activities_graphs.PlotActivity"/>
        <activity android:name=".activities_experiments.ExperimentDataActivity" />
        <activity android:name=".activities_trials.AddTrialActivity"
            android:label="Add New Trials"/>
        <activity android:name=".activities_trials.ConductCountTrialActivity"
            android:label="Conduct New Trial"/>
        <activity android:name=".activities_trials.ConductMeasurementTrialActivity"
            android:label="Conduct New Trial"/>
        <activity android:name=".activities_trials.ConductBinomialTrialActivity"
            android:label="Conduct New Trial"/>
        <activity android:name=".activities_trials.ConductNonnegativeCountTrialActivity"
            android:label="Conduct New Trial"/>
        <activity android:name=".activities_qr.ScanQRActivity"/>

        <activity android:name=".activities_trials.HideTrialActivity"
            android:label="Manage Visible Trials"/>

        <activity android:name=".activities_main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>