*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.firebaserc
/firebase-tools-instant-win.exe
/firebase.json
/firestore-debug.log
/firestore.indexes.json
/firestore.rules
/functions/
/remoteconfig.template.json
/ui-debug.log